BETTER_AUTH_SECRET="aa3d6901b6fb48c55155d7a7b13274b0586206b2fcd19e968086a63fcf3d6857"
BETTER_AUTH_URL="https://cs5356-hw6-git-main-shl225s-projects.vercel.app"
LOCAL_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
DATABASE_URL="postgresql://neondb_owner:npg_YKO8guRIvy6l@ep-snowy-sun-a5jif7rv.us-east-2.aws.neon.tech/neondb?sslmode=require"
